@font-face {
  font-family: "Rubik";
  src: url("font/Rubik-VariableFont_wght.ttf");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  max-height: 2500px;
}

/* HEADER */
.header {
  padding-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER-LOGO */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
  line-height: 24px;
}

/* NAV */

.header-nav__link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
  text-decoration: none;
  position: relative;
  color: #4f5665;
  font-size: 16px;
}

/* AUTORIZATION */

.header-autoization__item {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  margin: 0 25px;
  vertical-align: top;
  text-decoration: none;
  position: relative;
  color: #0b132a;
  padding: 10px;
}

.header-autoization__item-red {
  border: 1px solid #f53855;
  color: #f53855;
  border-radius: 50px;
  padding-right: 45px;
  padding-left: 45px;
}

/* INTRO */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-information {
  margin-top: 90px;
  width: 555px;
}

.intro-information__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

.intro-information__subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
  color: #4f5665;
}

.intro-information__button {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
  padding-top: 17.5px;
  box-shadow: 0 15px 15px rgba(245, 44, 23, 0.35);
}

/* STATISTICS */

.statistics {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between;
  margin-top: 105px;
}

.statistics-item {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  padding-right: 90.5px;
  padding-left: 90.5px;
}

.statistics-item-text {
  margin-left: 36.5px;
}

.statistics-item-text__count {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.statistics-item-text__name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

/* PLAN */

.plan {
  margin-top: 133px;
}

.plan__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  text-align: center;
  margin-bottom: 20px;
}

.plan__subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  text-align: center;
  width: 555px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.plan-items {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1090px;
}

.plan-items-item {
  width: 330px;
  height: 760px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.plan-items-item-red {
  border: 2px solid #f53838;
}

.plan-items-item:last-child {
  margin: 0;
}

.plan-items-item__image {
  margin: 0 auto;
  margin-top: 79px;
}

.plan-items-item__name {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: 30px;
}

.plan-items-item__list {
  height: 230px;
  margin: 0 auto;
  margin-top: 30px;
  list-style-image: url(img/checked.png);
}

.plan-items-item__list li {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.plan-items-item__price {
  margin: 0 auto;
  margin-top: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plan-items-item__button {
  margin: 0 auto;
  margin-top: 20px;
  width: 177.88px;
  height: 45px;
  border: 2px solid #f53838;
  border-radius: 50px;
  padding: 12px 62px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
}

.plan-items-item__button-red {
  background: #f53838;
  color: #ffffff;
}

/* FOOTER */

.footer {
  margin-top: 97px;
  display: flex;
  justify-content: space-between;
}

.footer-information-logo {
  display: flex;
  align-items: center;
}

.footer-information-logo__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
  line-height: 24px;
}

.footer-information__description {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-top: 20px;
  width: 340px;
}

.footer-information-circles {
  display: flex;
  margin-top: 20px;
}

.footer-information-circles__circle {
  background: #f53838;
  height: 33.6px;
  width: 33.6px;
  border-radius: 70%;
  margin-right: 20px;
}

.footer-information__copyright {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
  margin-top: 30px;
}

.footer-menu {
  display: flex;
}

.footer-menu-list {
  margin-left: 130px;
}

.footer-menu-list__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}

.footer-menu-items {
  margin-top: 20px;
  padding: 0;
  width: 130px;
}

.footer-menu-items__item {
  margin-bottom: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  list-style-type: none;
}
